main
body{
background-color: #ff9999;
}

header{
  background-color: #f99f99;
}

main{
  background-color: #99f99f;
}

aside{
  background-color: #9999ff;
}

footer{
  background-color: #f9f999;
}
